<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud</title>
    <style>
       
        .container{
            margin-left: 30%;
            
        }
    </style>
</head>
<body>
    
       <div class="container">
<h1>CRUD APP</h1>
           <a href="/add">ADD STUDENT</a>
           <a href="/search">SEARCH STUDENT</a>
           <a href="/update">UPDATE STUDENT</a>
           <a href="/delete">DELETE STUDENT</a>
           <a href="/view">VIEW STUDENT</a>
          
       </div>
</body>
</html>